body {
	font-family: Courier New;
	font-size: 20pt;
	background-image: url(whitebackground.jpg);
}

p {
	text-align: justify;
}

h1 {
	text-align: center;
	font-size: 80pt;
	width: 1300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

h2 {
	text-align: center;
}

h3 {
	font-size: 30pt;
	line-height: 0.25em;
	text-decoration: underline;
}

ul {
	line-height: 1.5em;
}

div.one {
	background-color: e2eafc;
	padding: 60px;
	margin: 50px;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	border: 10px solid #293241;
}

div.two {
	background-color: abc4ff;
	padding: 60px;
	margin: 50px;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	border: 10px solid #293241;
}

img {
	float: right;
	margin: 35px;
	margin-bottom: 7px;
	margin-right: 10px;
	border: 5px solid #293241;
}

img.left {
	float: left;
	margin: 35px;
	margin-top: 2px;
	margin-left: 10px;
	border: 5px solid #293241;
	margin-bottom: 2px;
}

img.bottomright {
	float: right;
	margin-top: 2px;
	margin-right: 10px;
	border: 5px solid #293241;
}

a.up {
	position: fixed;
	width: 50px;
	height: 50px;
	bottom: 20px;
	right: 20px;
	background: #293241;
	border: 5px solid #293241;
	padding: 10px;
	
	text-align: center;
	color: white;
	font-size: 47px;
}

a.up:hover {
	color: #293241;
	background: #abc4ff;
	border: 5px solid #293241;
}

html{
  scroll-behavior: smooth;
}

a.toc:hover {
	color: black;
}